.card {
    color: black;
    max-width: 250px;
    margin: 15px;
    text-decoration: none;
}

.card:last-of-type {
    float: left;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card-img-top {
    width: 248px;
    height: 248px;
}
