.product-details-container {
    display: flex;
}

.container > aside {
    padding: 10px;
    width: 50%;
}

aside .main-image {
    text-align: center;
}

aside .main-image img {
    width: 390px;
    height: 370px;
    object-fit: cover;
    margin: 10px 0;
}

aside .thumbnail-image {
    display: flex;
    justify-content: space-evenly;
    padding: 0 49px;
    cursor: pointer;
}

aside .thumbnail-image img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    /* border: 1px solid green; */
}

aside img {
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0px #cfcfcf;
}

aside:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
}

aside:last-of-type > * {
    margin: 15px 0;
}

h5 {
    font-weight: bold;
}

aside form {
    display: flex;
    width: 100%;
}

.input-group {
    width: 30%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    text-align: center;
}

form > button {
    margin-left: 20px;
}