.cart-container{
     margin: 50px auto;
}

table {
     height: auto;
}

tr > td:first-of-type {
     display: flex;
     align-items: center;
}

tr > th, tr > td {
     text-align: center;
     vertical-align: middle;
}

tr > td > img {
     width: 150px;
     height: 150px;
     object-fit: cover;
}

tr > td > p {
     margin: 0 0 0 20px;
}